# Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
import os

In [3]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [4]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [5]:
df.groupby('Branch')['gross income'].sum().sort_values(ascending=False)

Branch
C    5265.1765
A    5057.1605
B    5057.0320
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [6]:
df.groupby('City')['gross income'].sum().sort_values(ascending=False).head(1)

City
Naypyitaw    5265.1765
Name: gross income, dtype: float64

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [7]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', 
                                      values='Invoice ID', aggfunc='count')

In [8]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [9]:
invoices_by_category.sort_values(by='Electronic accessories', ascending=False).head(1)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

1. Чим відрізняється філіал С від інших, які категорії товарів продаються найбільше?
2. Яка структура філіалів по містах?
3. Які відмінності у продажах у місті Naypyitaw як найбільш прибуткового міста?

In [10]:
selected = df[df.Branch == 'C']

In [11]:
pd.pivot_table(selected, index='City', columns='Product line', 
                                      values='Invoice ID', aggfunc='count')

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
City,,,,,,
Naypyitaw,55,65,66,52,45,45

Тобто, філіал з найбільшим прибутком співпадає з містом, по якому найбільший прибуток

Подивимося на структуру доходів в розрізі типів продуктів:

In [19]:
pd.pivot_table(df, index='Branch', columns='Product line', 
                                      values='gross income', aggfunc='sum')

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,872.2435,777.7385,817.2905,599.893,1067.4855,922.5095
B,811.9735,781.5865,724.5185,951.460,835.6745,951.8190
C,903.2845,1026.6700,1131.7550,791.206,661.6930,750.5680

У філаілі С найбільшу долю займають категорії Food and beverages, Fashion accessories та Electronic accessories.

Подивимося на доходи у розрізі категорій в цілому по мережі:

In [25]:
df.groupby('Product line')['gross income'].sum().sort_values(ascending=False)

Product line
Food and beverages        2673.5640
Sports and travel         2624.8965
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Home and lifestyle        2564.8530
Health and beauty         2342.5590
Name: gross income, dtype: float64

Food and beverages та Sports and travel - категорії, що приносять більше прибутку.

In [36]:
pd.pivot_table(df, index='Branch', columns='City', 
                                      values='gross income', aggfunc='sum', fill_value=0)

City    Mandalay  Naypyitaw     Yangon
Branch
A          0.000     0.0000  5057.1605
B       5057.032     0.0000     0.0000
C          0.000  5265.1765     0.0000

Чи відрізняється рейтинг магазинів по містах?

In [23]:
df.groupby(['Branch', 'City'])['Rating'].mean().sort_values(ascending=False)

Branch  City
C       Naypyitaw    7.072866
A       Yangon       7.027059
B       Mandalay     6.818072
Name: Rating, dtype: float64

Значних відмінностей у рейтингу по містах не спостерігається.

Таким чином, найбільш прибутковим є філіал С, що розташований у місті Naypyitaw. 
Виходячи зі структури розподілення доходу у місті найбільш прибуткоими є категорії Food and beverages, Fashion accessories та Electronic accessories, що в цілому перетинається з найбільш прибутковими категоріями по мережі в цілому.
Іншим філіалам слід намагатися підвищити продажі в цих категоріях за допомогою розширення асортименту або маркетингу.